# Dependabot will run on day 22 of each month at 03:39 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "15 4 12 * *"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "FreDeko06"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "15 4 12 * *"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "FreDeko06"
